@charset "UTF-8";
* {
  border: none;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

/*Body header e Footer*/
body {
  width: 100vw;
}

header, footer {
  text-align: center;
  padding: 0.5em 0;
  background-color: #F5F5F5;
}
header .imgLogo, footer .imgLogo {
  width: 2.5em;
}

footer .imgLogo {
  width: 2.5em;
}

/* Estilização Dots de Slider */
/* .slick-dotted.slick-slider
{
    margin-bottom: 30px;
} */
.slick-dots {
  position: absolute;
  bottom: 0.5em;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 0 0 0.15em;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1em;
  height: 1em;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  width: 2.15em;
  height: 2.15em;
  content: "";
  text-align: center;
  opacity: 0.75;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  background-color: #F79552;
}

/*Estilização de Arrows sliders */
.slick-prev, .slick-next {
  cursor: pointer;
}

.slick-prev {
  position: absolute;
  z-index: 1;
  top: 40%;
  bottom: 0;
  left: 15%;
  background: no-repeat url("../assets/icons/arrow-left.svg");
  width: 48px;
  font-size: 0;
}

.slick-next {
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 15%;
  bottom: 0;
  background: no-repeat url("../assets/icons/arrow-right.svg");
  width: 48px;
  font-size: 0;
}

/*Estilização do Slider Principal*/
.SliderPresentation {
  width: 100%;
  height: auto;
  margin: 0;
}
.SliderPresentation div img {
  width: 100%;
}

.About {
  padding-bottom: 2.5em;
  background-color: #F5F5F5;
}
.About h2 {
  font-family: "neo-sans", sans-serif;
  text-align: center;
  font-weight: 700;
  color: #333333;
  padding: 1.5em 0 0.75em 0;
  font-size: 1.5em;
}
.About .aboutDescription {
  font-family: "lato", sans-serif;
  line-height: 1.15em;
  color: #555555;
  text-align: center;
  margin: 0 1.5em 2em 1.5em;
}

/*Slider -  Como funciona */
.SliderServices {
  padding: 1.5em 0 2em;
}
.SliderServices div {
  padding: 0 0.75%;
}
.SliderServices div img {
  width: 100%;
}
.SliderServices .descriptionPresentation h3 {
  text-align: center;
  font-family: "neo-sans", sans-serif;
  color: #EE3E80;
  font-weight: 500;
  font-size: 1.35em;
  margin: 1em 0;
}
.SliderServices .descriptionPresentation p {
  font-family: "lato", sans-serif;
  color: #555555;
  line-height: 1.5em;
  text-align: center;
  font-size: 0.85em;
}
.SliderServices .slick-dots {
  bottom: -0.5em;
}
.SliderServices .slick-dots li button:before {
  background-color: #E6E6E6;
}
.SliderServices .slick-dots li.slick-active button:before {
  background-color: #EE3E80;
}

/*Seção Benefícios*/
section.Benefits {
  background: url("../assets/ImgsBackground/bg-textura-wine.png"), #EE3E80;
  background-position: top left;
  padding-bottom: 1.5em;
}
section.Benefits h2 {
  font-family: "neo-sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5em;
}
section.Benefits .listBenefits li {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
section.Benefits .listBenefits li:nth-child(1) button {
  background: no-repeat url("../assets/ImgsBackground/tangran-01.png"), #ffffff;
}
section.Benefits .listBenefits li:nth-child(2) button {
  background: no-repeat url("../assets/ImgsBackground/tangran-02.png"), #ffffff;
}
section.Benefits .listBenefits li:nth-child(3) button {
  background: no-repeat url("../assets/ImgsBackground/tangran-03.png"), #ffffff;
}
section.Benefits .listBenefits li:nth-child(4) button {
  background: no-repeat url("../assets/ImgsBackground/tangran-04.png"), #ffffff;
}
section.Benefits .listBenefits li button {
  width: 85%;
  display: flex;
  padding: 1em 0;
  border-radius: 0.5em;
  align-items: center;
  justify-content: flex-end;
  background-position: top left;
  cursor: pointer;
  transition: 0.5s;
}
section.Benefits .listBenefits li:hover button {
  transform: scale(1.05);
}
section.Benefits .listBenefits li button p {
  width: 45%;
  margin-left: 7.5%;
  text-align: start;
  color: #555555;
}

/*Seção produtos*/
.Products {
  background-color: #F5F5F5;
  padding-bottom: 3em;
}
.Products h2 {
  font-family: "neo-sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.5em 0;
  text-align: center;
}

/*Estilizando lista de produto*/
.listProducts .slick-list {
  padding: 0 7% !important;
}
.listProducts .slick-slide {
  width: 15em !important;
  padding: 0 1% 0 0;
}
.listProducts li .btnAddProduct {
  text-align: center;
  width: 100%;
  padding: 1em 0;
  margin-top: 1.25em;
  background: #7EBC43;
  font-family: "lato", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.25em;
  transition: 0.5s;
  cursor: pointer;
}
.listProducts li .btnAddProduct:hover {
  transform: scale(1.05);
}

/*Estilizando card de produto*/
.cardItem {
  position: relative;
  border-radius: 0.25em;
  background-color: #ffffff;
  box-shadow: 0 0.1em 0.15em 0 hsla(0deg, 0%, 0%, 0.2);
  padding: 0.75em 0.75em;
  width: 100%;
  /*Botão de favoritar*/
  /*Divisão de Flags*/
  /*Divisão da imagem de produto*/
  /*Divisão de descrição do produto*/
}
.cardItem .btnFavorite {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.cardItem .btnFavorite .imgFavorite {
  width: 1.5em;
  background-color: #ffffff;
}
.cardItem .infoProduct {
  position: absolute;
  bottom: 0.75em;
  left: 0;
}
.cardItem .flag {
  width: 1.15em;
}
.cardItem .infoFlag {
  background-color: #EE3E80;
  width: 1.15em;
  height: 1.15em;
  border-radius: 100%;
  margin-bottom: 0.5em;
}
.cardItem div.img {
  position: relative;
}
.cardItem div.img .figureImgProduct {
  display: flex;
  justify-content: center;
}
.cardItem div.img .imgProduct {
  width: 60%;
}
.cardItem .description {
  margin-top: 1em;
  /* Preço com desconto */
}
.cardItem .description h3 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.15em;
  text-align: center;
  margin-bottom: 1.5em;
  height: 2em;
}
.cardItem .description .prices {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;
}
.cardItem .description .prices div:not(:first-child) {
  margin-left: 1em;
}
.cardItem .description .prices .priceDiscount {
  font-family: "lato", sans-serif;
  font-weight: 600;
  font-size: 0.85em;
  color: #555555;
  text-decoration: line-through;
}
.cardItem .description .prices .Discount {
  font-family: "lato", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  background-color: #EE3E80;
  padding: 0.15em 0.5em;
  border-radius: 0.15em;
  color: #ffffff;
}
.cardItem .description .priceMember {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItem .description .priceMember div:first-child {
  font-family: "lato", sans-serif;
  font-weight: 300;
  color: #555555;
  font-size: 0.75em;
  line-height: 1em;
  width: 20%;
  text-align: end;
  margin-right: 0.5em;
}
.cardItem .description .priceMember div:nth-child(2) {
  font-family: "neo-sans", sans-serif;
  color: #EE3E80;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.cardItem .description .priceMember div:nth-child(2) span.coin {
  font-size: 1em;
  align-self: flex-end;
}
.cardItem .description .priceMember div:nth-child(2) div {
  display: flex;
  padding-left: 0.15em;
}
.cardItem .description .priceMember div:nth-child(2) div span:first-child {
  font-size: 1.25em;
}
.cardItem .description p {
  font-family: "lato", sans-serif;
  font-size: 0.75em;
  color: #888888;
  text-align: center;
  margin: 1em 0;
}

/*Seção de Podcast*/
.Podcast {
  background-color: #3C214B;
  padding: 10% 5% 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Podcast .headerPodcast {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Podcast .imgTitlePodcast {
  width: 50%;
  margin: 0.5em 0 0.75em;
}
.Podcast p {
  width: 65%;
  font-family: "lato", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 0.85em;
  margin-bottom: 2em;
}
.Podcast .listPodcast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 6.5em;
  margin-bottom: 1.5em;
  width: 21em;
}
.Podcast .listPodcast li {
  width: 10em;
}
.Podcast .listPodcast img {
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.Podcast .listPodcast img:hover {
  transform: scale(1.05);
}
.Podcast .imgPodcast {
  background: no-repeat url("../assets/ImgsPodcast/capa-podcast.png");
  background-size: cover;
  width: 21em;
  height: 21em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Podcast .imgPodcast img {
  width: 65%;
  transition: 0.5s;
}
.Podcast .imgPodcast img:hover {
  transform: scale(1.15);
}

/*Modal*/
.Modal {
  width: 20em;
  position: relative;
  text-align: center;
  padding: 1.5em 1.5em;
  height: 20em !important;
}
.Modal .btnCloseModal {
  position: absolute;
  top: -7.5%;
  right: -7.5%;
  background: none;
  cursor: pointer;
}
.Modal .btnCloseModal img {
  width: 95%;
}
.Modal h2 {
  font-family: "neo-sans", sans-serif;
  font-weight: 400;
  font-size: 1.15em;
  margin-bottom: 1.5em;
  color: #333333;
}
.Modal .imgModal {
  width: 35%;
  margin-bottom: 1.5em;
}
.Modal p, .Modal strong {
  font-family: "lato", sans-serif;
  font-size: 0.75rem;
}
.Modal strong {
  font-weight: 700;
}
.Modal p {
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #555555;
  padding: 0 1.1em;
}

/*Responsividade*/
@media screen and (min-width: 1023px) {
  header .imgLogo,
footer .imgLogo {
    width: 4em;
    padding: 0.25em 0;
  }
  /*Seção sobre*/
  .About {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About h2 {
    font-size: 2em;
  }
  .About .aboutDescription {
    width: 35%;
    font-size: 1.15em;
  }
  .SliderServices {
    display: flex;
    justify-content: center;
  }
  .SliderServices div {
    width: 15em;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .SliderServices .descriptionPresentation {
    width: 100%;
  }
  /*Seção Benefícios*/
  section.Benefits {
    padding-bottom: 3em;
  }
  section.Benefits h2 {
    font-size: 2em;
  }
  .listBenefits {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listBenefits li {
    display: inline-block;
    width: 22em;
  }
  /*Seção de produtos*/
  .Products h2 {
    font-size: 2em;
  }
  .listProducts {
    display: flex;
    justify-content: center;
  }
  .listProducts li {
    width: 13em;
    margin-left: 1.5em;
  }
  /*Seção de podcast*/
  .Podcast {
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  }
  .Podcast .headerPodcast {
    width: 30%;
    margin-right: 2.5%;
  }
  .Podcast .headerPodcast p {
    width: 85%;
    text-align: start;
  }
  .Podcast .imgPodcast {
    width: 25em;
    height: 25em;
  }
  .Podcast .imgTitlePodcast {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
