//Reset de espaçamentos e bordas padrões

* {
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

// Declaração de variaveis 

$background: #F5F5F5;
$gray-dark: #333333;
$gray-over: #E6E6E6;
$gray-default: #555555;
$gray: #888888;
$sauvignon-default: #EE3E80;
$white: #ffffff;
$purple: #3C214B;

$shadow: hsla(0, 0%, 0%, 0.2);

$success-default :#7EBC43;

$font-neo: 'neo-sans', sans-serif;
$font-lato: 'lato', sans-serif;

body {
    width: 100vw;
}


header , footer{
    text-align: center;
    padding: .5em 0;
    background-color: $background;

    .imgLogo {
        width: 2.5em;
    }
}

footer .imgLogo{
    width: 2.5em;
}

/* Estilização Dots */
    /* .slick-dotted.slick-slider
    {
        margin-bottom: 30px;
    } */

.slick-dots
{
    position: absolute;
    bottom: .5em;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    margin:0 0 0 .15em;
    width: 1.25em;
    height: 1.25em;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 1em;
    height: 1em;
    
    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    width: 2.15em;
    height: 2.15em;

    content: '';
    text-align: center;

    opacity: .75;
    background-color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    background-color: #F79552;
;
}

/*Estilização de Arrows sliders */
.slick-prev{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
}
.slick-next{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
}
/*Estilização do Slider Principal*/

.SliderPresentation {
    width: 100%;
    height: auto;
    margin: 0;

    div img {
        width: 100%;

    }

}

//Seção como funciona

.About {
    padding-bottom: 2.5em;
    background-color: $background;

    h2 {
        font-family: $font-neo;
        text-align: center;
        font-weight: 700;
        color: $gray-dark;
        padding: 1.5em 0 .75em 0;
        font-size: 1.5em;
    }

    .aboutDescription {
        font-family: $font-lato;
        line-height: 1.15em;
        color: $gray-default;
        text-align: center;
        margin: 0 1.5em 2em 1.5em;
    }


}

/*Slider -  Como funciona */

.SliderServices {
    padding: 1.5em 0 2em;

    div {
        padding: 0 .75%;
    }

    div img {
        width: 100%;
    }

    .descriptionPresentation h3 {
        text-align: center;
        font-family: $font-neo;
        color: $sauvignon-default;
        font-weight: 500;
        font-size: 1.35em;
        margin: 1em 0;
    }

    .descriptionPresentation p {
        font-family: $font-lato;
        color: $gray-default;
        line-height: 1.5em;
        text-align: center;
        font-size: .85em;
    }

    .slick-dots {
        bottom: -.5em;
    }

    .slick-dots li button:before {
        background-color: $gray-over;
    }

    .slick-dots li.slick-active button:before {
        background-color: $sauvignon-default;
    }
}

/*Seção Benefícios*/

section.Benefits {
    background: url("../assets/ImgsBackground/bg-textura-wine.png"),$sauvignon-default;
    background-position: top left;
    padding-bottom: 1.5em;

    h2 {
        font-family: $font-neo;
        font-weight: 700;
        color: $white;
        text-align: center;
        padding: 2em 0;
        font-size: 1.5em;
    }

    .listBenefits li {
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
    }

    .listBenefits li:nth-child(1) button {
        background: no-repeat url("../assets/ImgsBackground/tangran-01.png"), $white ;
    }

    .listBenefits li:nth-child(2) button {
        background: no-repeat url("../assets/ImgsBackground/tangran-02.png"), $white ;
    }

    .listBenefits li:nth-child(3) button {
        background: no-repeat url("../assets/ImgsBackground/tangran-03.png"), $white ;
    }

    .listBenefits li:nth-child(4) button {
        background: no-repeat url("../assets/ImgsBackground/tangran-04.png"), $white ;
    }

    .listBenefits li button {
        width: 85%;
        display: flex;
        padding: 1em 0;
        border-radius: .5em;
        align-items: center;
        justify-content: flex-end;
        background-position: top left;
        cursor: pointer;
        transition: .5s;
    }

    .listBenefits li:hover button {
        transform: scale(1.05);
    }

    .listBenefits li button p {
        width: 45%;
        margin-left: 7.5%;
        text-align: start;
        color: $gray-default;
    }
}

/*Seção produtos*/

.Products {
    background-color: $background;
    padding-bottom: 3em;

    h2 {
        font-family: $font-neo;
        font-size: 1.5em;
        font-weight: 700;
        padding: 1.5em 0;
        text-align: center;
    }

}

/*Estilizando lista de produto*/
.listProducts{
    .slick-list{
        padding: 0 7% !important;
    }
    .slick-slide{
        width: 15em!important;
        padding: 0 1% 0 0;
    }
    li .btnAddProduct{
        text-align: center;
        width: 100%;
        padding: 1em 0;
        margin-top: 1.25em;
        background: $success-default;
        font-family: $font-lato;
        font-weight: 700;
        color: $white;
        border-radius: 0.25em;
        transition: .5s;
        cursor: pointer;
    }
    li .btnAddProduct:hover{
        transform: scale(1.05);
    }
}
/*Estilizando card de produto*/

.cardItem {
    position: relative;
    border-radius: .25em;
    background-color: $white;
    box-shadow: 0 .1em .15em 0 $shadow;
    padding: 0.75em 0.75em;
    width: 100%;

    /*Botão de favoritar*/
    .btnFavorite{
        position: absolute;
        top:0;
        right: 0;
        cursor: pointer;
    }
    .btnFavorite .imgFavorite{
        width: 1.5em;
        background-color: $white;
    }

    /*Divisão de Flags*/

    .infoProduct{
        position: absolute;
        bottom: .75em;
        left: 0;
        
    }
    .flag {
        width: 1.15em;
    }
    .infoFlag{
        background-color: $sauvignon-default;
        width: 1.15em;
        height: 1.15em;
        border-radius: 100%;
        margin-bottom: .5em;
    }

    /*Divisão da imagem de produto*/
    div.img {   
        position: relative;
    }
    div.img .figureImgProduct{
        display: flex;
        justify-content: center;
    }
    div.img .imgProduct {
        width: 60%;
    }

    /*Divisão de descrição do produto*/

    .description{
        margin-top:1em;
        h3{
            font-family: $font-lato;
            font-weight: 700;
            font-size: 1em;
            line-height: 1.15em;
            text-align: center;
            margin-bottom: 1.5em;
            height: 2em;
        }
        .prices{
            display: flex;
            justify-content: center;
            margin-bottom: 1.25em;
        }
        .prices div:not(:first-child) {
            margin-left: 1em;
        }
        /* Preço com desconto */
        .prices .priceDiscount{
            font-family: $font-lato;
            font-weight: 600;
            font-size: .85em;
            color: $gray-default;
            text-decoration: line-through;
        }

        .prices .Discount{
            font-family: $font-lato;
            font-size: .75em;
            font-weight: 400;
            background-color: $sauvignon-default;
            padding: .15em .5em;
            border-radius: .15em;
            color: $white;
        }

        .priceMember{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .priceMember div:first-child{
            font-family: $font-lato;
            font-weight: 300;
            color: $gray-default;
            font-size: .75em;
            line-height: 1em;
            width: 20%;
            text-align: end;
            margin-right: .5em;
        }
        .priceMember div:nth-child(2){
            font-family: $font-neo;
            color:$sauvignon-default;
            font-weight: 700;
            display: flex;
            align-items: center;
            
            span.coin{
                font-size: 1em;
                align-self: flex-end;
            }
            div{
                display: flex;
                padding-left: 0.15em;
            }
            div span:first-child{
                font-size: 1.25em;
            }
            
        }

        p {
            font-family: $font-lato;
            font-size: 0.75em;
            color: $gray;
            text-align: center;
            margin:1em 0;
        }
    }
}


/*Seção de Podcast*/

.Podcast{
    background-color: $purple;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .imgTitlePodcast{
        width: 50%;
        margin: .5em 0 .75em;
    }

    p{
        width: 65%;
        font-family: $font-lato;
        font-weight: 500;
        color: $white;
        font-size: .85em;
        margin-bottom: 2em;
    }

    .listPodcast{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 6em;
        margin-bottom: 2em;
    }
    .listPodcast li{
        width: 50%;
        padding-left: .5em;
    }
    .listPodcast img{
        width: 100%;
    }
    .imgPodcast{
        background: no-repeat url("../assets/ImgsPodcast/capa-podcast.png");
        background-size: contain;
        width: 100%;
        height: 22em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgPodcast img{
        width: 65%;
        transition: .5s;
    }
    .imgPodcast img:hover{
        transform: scale(1.15);
    }
}

/*Modal*/

.Modal{
    width: 20em;
    position: relative;
    text-align: center;
    padding: 1.5em 1.5em;
    height: 20em!important;
    .btnCloseModal{
        position: absolute;
        top: -7.5%;
        right: -7.5%;
        background: none;
    }
    .btnCloseModal img{
        width: 95%;
    }
    h2{
        font-family: $font-neo;
        font-weight: 400;
        font-size: 1.15em;
        margin-bottom: 1.5em;
        color: $gray-dark;
    }
    .imgModal{
        width: 35%;
        margin-bottom: 1.5em;
    }

    p,strong{
        font-family: $font-lato;
        font-size:.75rem;
    }
    strong{
        font-weight: 700;
    }
    p{
        font-weight: 400;
        margin-bottom: .5rem;
        color: $gray-default;
        padding: 0 1.1em;
    }
}

@media screen and (min-width:1024px) {
    header .imgLogo,
    footer .imgLogo
    {
        width: 3em;
    }
}