// Declaração de variaveis 

$background: #F5F5F5;
$gray-dark: #333333;
$gray-over: #E6E6E6;
$gray-default: #555555;
$gray: #888888;
$sauvignon-default: #EE3E80;
$white: #ffffff;
$purple: #3C214B;

$shadow: hsla(0, 0%, 0%, 0.2);

$success-default :#7EBC43;

$font-neo: 'neo-sans', sans-serif;
$font-lato: 'lato', sans-serif;
